* {
    background-color: #2f2f2f;
}

#frame {
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    margin: 10px;
    box-sizing: border-box;

    /* overflow: visible; */
    border: 1px solid #888;
}

.stud {
    stroke-width: 1px;
    stroke: aliceblue;
    fill-opacity: 0;
    /* visibility: hidden; */
}

.stud:hover {
    fill: blue;
    fill-opacity: 0.2;
}

.stud.face {
    stroke: red;
}

.thread {
    stroke-width: 0.5;
}

.part {
    /* stroke: blue;
    fill: blue; */
    fill-opacity: 0;
    stroke: aliceblue;
}