* {
    background-color: #2f2f2f;
}

#frame {
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    margin: 10px;
    box-sizing: border-box;

    overflow: visible;
    border: 1px solid #888;
}

#stud {
    stroke-width: 1px;
    stroke: aliceblue;
    fill: none;
}
