* {
  background-color: #2f2f2f;
  color: aliceblue;
}

label {
  color: aliceblue;
}

#frame {
  width: calc(100vw - 40px);
  height: calc(100vh - 80px);
  margin: 10px;
  box-sizing: border-box;

  /* overflow: visible; */
  border: 1px solid #888;
}

.stud {
  stroke-width: 1px;
  stroke: aliceblue;
  fill: #2f2f2f;
  fill-opacity: 0.6;
  /* visibility: hidden; */
  z-index: 999;
}

.stud:hover {
  fill: blue;
  fill-opacity: 0.2;
}

.stud.face {
  stroke: red;
}

.stud.nut {
  fill: #2f2f2f;
  fill-opacity: 1;
}

.thread {
  stroke-width: 0.5;
}

.stud.implantation {
  stroke-width: 2;
  stroke: rgb(0, 204, 255);
  stroke-opacity: 0.4;
}

.part {
  /* stroke: blue;
  fill: blue; */
  fill-opacity: 0;
  stroke: aliceblue;
}
